files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/privatekey.pen;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDWjCCAkICCQDKdOXMTydcRTANBgkqhkiG9w0BAQsFADBvMQswCQYDVQQGEwJV
      UzEWMBQGA1UECAwNTWFzc2FjaHVzZXR0czESMBAGA1UEBwwJV29yY2VzdGVyMRww
      GgYDVQQKDBNEZWZhdWx0IENvbXBhbnkgTHRkMRYwFAYDVQQDDA1zdGVwaGVuY29u
      d2F5MB4XDTE4MDIxNDIxMjc0M1oXDTE5MDIxNDIxMjc0M1owbzELMAkGA1UEBhMC
      VVMxFjAUBgNVBAgMDU1hc3NhY2h1c2V0dHMxEjAQBgNVBAcMCVdvcmNlc3RlcjEc
      MBoGA1UECgwTRGVmYXVsdCBDb21wYW55IEx0ZDEWMBQGA1UEAwwNc3RlcGhlbmNv
      bndheTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAPhVnp4bTEmPn0rF
      LipwlX3enHZpa9Qi8JclBEGLD4MfEb2bQR2m53aLIttZmql1JjEzdKtDBDbW92BZ
      HvOoIqcVdxIdMDlVYu/Y/ibDlwrX7KvDbqxbXmYCZ21R0GBoCHQReqQ0Q+pN7kaO
      POI30mAFRGZxLVj14QaxTRd8m1TLPdCXi7m4bAZ31Q4Vjmy1rm1pCP85rk218td/
      dZbEvr0EOfsGUocXW7lmrprDVqY7VBN8QicTy7BqYAbl3VMAnLGezgWSocWLrgQ6
      On0MEub6zrElIRfgfPDgUI2v78DAPxnR2N46vCxbfgI4MvhFxjMDaO/FdPGmGj3w
      56qLGbUCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAHwAHnAeVlfwwhlbSBfPOC3ZE
      e9CCzAkn24mpMa0Cpw+mGYNgWNuDMouSHZzO7osOCo9KuQYUHhm3yIX39lzIZIdP
      m8tp4+Y3/0EznwciJraDhVV/sdt76ELVfuNMU5iaFljmv0f81i+S0qbZULGkmcuq
      Ek9BZirdyNvt/guukSiAFGNhHqMRRCLEktB8FWej2C5d3cgYZt1tY+z7DmqcRLTi
      7FSG2bZmXcIsVB4//cybN0rqGnizeFcFGrl9kgFcfI/3B2t7vcdzQe3AhYycqAje
      YoaMLswFEDatLlYBKeLHV0Guyppc5j5flzZzyFuaxr0hs1Ycq8h3tG5a6UCMmw==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/privatekey.pen:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA+FWenhtMSY+fSsUuKnCVfd6cdmlr1CLwlyUEQYsPgx8RvZtB
      Habndosi21maqXUmMTN0q0MENtb3YFke86gipxV3Eh0wOVVi79j+JsOXCtfsq8Nu
      rFteZgJnbVHQYGgIdBF6pDRD6k3uRo484jfSYAVEZnEtWPXhBrFNF3ybVMs90JeL
      ubhsBnfVDhWObLWubWkI/zmuTbXy1391lsS+vQQ5+wZShxdbuWaumsNWpjtUE3xC
      JxPLsGpgBuXdUwCcsZ7OBZKhxYuuBDo6fQwS5vrOsSUhF+B88OBQja/vwMA/GdHY
      3jq8LFt+Ajgy+EXGMwNo78V08aYaPfDnqosZtQIDAQABAoIBAQCqRcqkjgMYzSlj
      kx+8acWWsHSHnHEa23orqG3qovbX6Q24/CMBudcrKOuVizLIzlKJmcZ9R040a+Di
      ZzkZyEc6WTVzbiAKr8lOu3JIEgQWo0bb3vyboWpwd2WDR32hHLPvIaz9ufh3R0gB
      iLWmRrAwtmvX8fIt9Sl99UPuvrmiwP6yXQt6+C8gcWjdyE0HE8TKVTKNPP4ReUY/
      vk4EsuGLhGbPpU3fwAPJc30RmovFuoKOAwlBI2Lsyh5mrztlH9EX0hjHKAVQ+D6w
      InozbtiWXvlgHWbFiJvHnpJbZ89QjH/JWkYy51mbR+qZt1rPZapMNOgaJkbTOdZU
      8jU4WNwBAoGBAP4qt469klOKPJ/pgQYuX8/hE1my2bhtGscxY7IySxyKk3WGeZBO
      FNEyXoOCjJ6ntNEN6JqTXms3Pn+hSutDrxlmly65bduaCG8q+1B20StQZLR8le+K
      MkXsCBVkLAfSn3KeXh9+YKt/wNqsGIEI9B+npz54nhBu6aHw9ZIIZ2DVAoGBAPog
      IkSVrFmza7FjMePPICiqW6Cb6E4Hqx+oFn076E1MVt30aZaT5n3lA3uB0LwYMcjX
      VLfqOxLPmaaaH0lEcQ/CmlPoX5ZPQhLpSCcbpRLbCzvkH/L2AeKFFPj5gu7yY/nM
      BL/RE45nOpN3eWiE5X097llSqCOaHOZT86pYLkVhAoGAE3j4WTJC7K2RmXrNTMju
      xEFtNxkRvyR0wcAR8EwUHxqq0307AQhKZgCi5xZwaZNVshKLuJQDztkLq8GSuNWV
      q6+Fc6n3NbTmYoX7fR2tRtFA9eb5ocGHun2r3N+w0+SaHLDvayBGjb0a7GX09qXV
      9jrlAE9DZOTqd2K7nbWRHgUCgYEAxe8j7w5ao2l+sZOD6XkBQ+z8MW7vOMCMxLJp
      iZUc0f61R1OhMw27eqj+RoCGRDMJQpxUaG4tbUdnmhWg6IQGzKf9JKVg7zutV/XP
      qVMRIIjCrRRrzAKtnyodXKFm4dxjDUxL/ddgGHLMQeJr6zAvwxp9QaZNdE8Cy6pn
      yseZZkECgYBCISXy7XaRec+y+rrxPMspBCPdiAAYBifJQtgqCheXfz8lB+qC7gFY
      +cFdPHSbZXxMx7F2ENmzJqa17Fq/MFZTw4HQV6qttLPIYUDtf0pm1lym2P3DnAgf
      2MAdCvF3uY5tJLiZto8VF+VCY/1bBgoI++n7YDJJ/bhZcQjgzCcjRg==
      -----END RSA PRIVATE KEY-----